<h1>Application Architecture Description</h1>

<pre>
MVC project
Razor Views
Bootstrap UI
Knockout For UI model and data manipulation
Api controller to store the data from the client
Resources files to allow localization for strings
QUnit to javascript tests, if we need to mock elements we can use Sinon.js
To run the tests run the server and go to the url "/Scripts/tests/test-runner.html"
Use .net Ilogger to a file to store the probabilities
momentjs for dates in javascript


Add Validation to the UI input fields, 
add javascript tests to calculate only when value 1 and value 2 are numeric,
Add exception handling for javascript and server,
Add decimal adjustement options,
Add partial views javacript load
Add dependency injection so we can remove dependencies, create constructors with the types we need and then mock does types in tests
</pre>

